/* Sets the font family */
*{
  font-family: Verdana;
}

/* Title look */
.title{
  color:#A85018;
  font-size:24px;
}

/* Subtitle look */
.subtitle{
  color:#CC611D;
  font-size:20px;
}

/* Accordion group look */
.accordion-group{
  border:lightgrey solid 1px;
  background-color: #F5F5F5;
}

/* Accordion heading look */
.accordion-toggle{
  margin:0 -15px;
  padding:5px;
  border:solid 1px;
  cursor:pointer;
  background-color: #F5F5F5;
  color:#A85018;
}

/* Text look */
.text{

}

/* List look */
.list{

}

/* Enum look */
.enum{

}
