<h3 class="title">Site réalisé avec</h3>
<div class="accordion" id="tools">
  <div class="accordion-group col-md-12">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#tools" href="#bootstrap">
        HTML5 Boilerplate
      </p>
    </div>
    <div id="bootstrap" class="accordion-body collapse">
      <div class="accordion-inner">
        HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
      </div>
    </div>
  </div>
  <div class="accordion-group col-md-12">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#tools" href="#angular">
        Angular
      </p>
    </div>
    <div id="angular" class="accordion-body collapse">
      <div class="accordion-inner">
        AngularJS is a toolset for building the framework most suited to your application development.
      </div>
    </div>
  </div>
  <div class="accordion-group col-md-12">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#skills" href="#karma">
        Karma
      </p>
    </div>
    <div id="karma" class="accordion-body collapse">
      <div class="accordion-inner">
        Spectacular Test Runner for JavaScript.
      </div>
    </div>
  </div>
</div>
