<div ng-repeat="exp_pro in data.cv.exps_pro | orderBy:'-date_fin'">
  <h3 class="title">{{exp_pro.date_deb}} - {{exp_pro.date_fin}}</h3>
  <p>
    {{exp_pro.mission.poste}} - (<a href={{exp_pro.mission.entreprise.site}}>{{exp_pro.mission.entreprise.nom}}</a>, {{exp_pro.mission.entreprise.lieu.num_dep}}).
  </p>
  <h4 class="subtitle">Tâches accomplies</h4>
  <ul>
    <li ng-repeat="tache in exp_pro.mission.conclusion.taches_accomplies">
      {{tache}}
    </li>
  </ul>
  <h4 class="subtitle">Compétences acquises</h4>
  <ul>
    <li ng-repeat="comp in exp_pro.mission.conclusion.comp_acquises">
      {{comp}}
    </li>
  </ul>
</div>
