<div ng-repeat="formation in data.cv.formations | orderBy:'-date_fin'">
  <h3 class="title">{{formation.date_deb}} - {{formation.date_fin}}</h3>
  <p>{{formation.intitule}} (<a href={{formation.lieu.etablissement.site}}>{{formation.lieu.etablissement.nom}}<a/>, {{formation.lieu.num_dep}})</p>
</div>
