<div class="jumbotron">
  <h2>Bien le bonjour cher visiteur !</h2>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Soyez le bienvenu sur la page de Julien Andre
  </p>
</div>
