<div class="accordion" id="skills">
  <div class="accordion-group col-md-12">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#skills" href="#languages">
        Langages
      </p>
    </div>
    <div id="languages" class="accordion-body collapse in">
      <div class="accordion-inner">
        <h5 class="enum col-md-3" ng-repeat="langage in data.cv.competences.langages">{{langage.nom}}</h5>
      </div>
    </div>
  </div>
  <div class="accordion-group col-md-12">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#skills" href="#softwares">
        Logiciels
      </p>
    </div>
    <div id="softwares" class="accordion-body collapse">
      <div class="accordion-inner">
        <span ng-repeat="logiciel in data.cv.competences.logiciels">{{logiciel}}, </span>
      </div>
    </div>
  </div>
  <div class="accordion-group col-md-12">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#skills" href="#langs">
        Langues
      </p>
    </div>
    <div id="langs" class="accordion-body collapse">
      <div class="accordion-inner">
        <div ng-repeat="langue in data.cv.langues">
          <h4 class="subtitle">{{langue.nom}}</h4>
          <p>{{langue.niveau}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-group col-md-12">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#skills" href="#methods">
        Méthodes
      </p>
    </div>
    <div id="methods" class="accordion-body collapse">
      <div class="accordion-inner">
        <div ng-repeat="method in data.cv.competences.methodes">
          <p>{{method}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-group col-md-12">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#skills" href="#agilesMethods">
        Méthodes Agiles
      </p>
    </div>
    <div id="agilesMethods" class="accordion-body collapse">
      <div class="accordion-inner">
        <p ng-repeat="methode_agile in data.cv.competences.methodes_agiles">{{methode_agile}}</p>
      </div>
    </div>
  </div>
</div>
